
button {
  padding: 7px 15px;
  background: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.primary {
  background-color: #1890FF;
  color: white;
}

.dashed {
  border-style: dashed;
}

.text {
  border: none;
}

.link {
  border: none;
  color: #1890FF; 
}
